body {
    display: grid;
    background-color: black;
    height: 100vh;
    place-items: center;
}

#container {
    width: auto;
    background-color: rgb(38, 39, 40);
    color:white; 
    text-align: center;
    border: 3px solid black;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}
